
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
box-sizing:border-box;}
*::before, *::after{display:inline;}
*::selection{background:#6e39a6;color:#FFF;}
*::-moz-selection{background:#6e39a6;color:#FFF;}
body{background:#181818;border:0;color:#FFF;margin:0;
font-family:'Open Sans', Lato, arial, sans-serif;font-size:1em;}
/*Customize*/
h1, h2, h3, h4, h5, h6{font-family:Ubuntu,'Open Sans', Tahoma, Lato,
'Lucida Sans', sans-serif;font-weight:700;color:#6e39a6;margin:0;
text-transform:capitalize;}
h1, h2, h3, h4, h5, h6, p{word-spacing:2px}
p{margin:0 0 14px;}
ul, ol{margin:0;padding:0;}
a{color:#6e39a6;outline:none;text-decoration:none;}
a:hover{color:#6e39a6;text-decoration:underline;}
button, .hom-button{display:inline-block;text-transform:capitalize;
background:transparent;border:1px solid #6e39a6;border-radius:3px;color:#FFF;
font-size:0.9em;padding:12px;-webkit-transition:background 150ms ease-out;
-moz-transition:background 150ms ease-out;transition:background 150ms ease-out;}
button:hover, .hom-button:hover{background:#6e39a6;cursor:pointer;}
.hom-active-button{background:#6e39a6;color:#FFF;}
.hom-accordion-container{position:absolute;display:none;min-width:200px;
z-index:9999}
*:hover>.hom-accordion-container.hom-hover-accordion{display:block;}
.hom-accordion{background:#333;border-radius:2px;
box-shadow:0 2px 3px rgba(0,0,0,.3);margin-top:10px;width:inherit;padding:12px;}
.hom-horizontal-list{list-style:none;text-align:left;}
.hom-horizontal-list li{display:block;}
.hom-horizontal-list a{display:block;color:#FFF;padding:9px 2px}
.hom-content-loading-animation{-moz-animation:contentLoading 4000ms infinite;
-webkit-animation:contentLoading 4000ms infinite;
animation:contentLoading 4000ms infinite;}
.hom-content-loading-reverse-animation{
-moz-animation:contentLoadingReverse 4000ms infinite;
-webkit-animation:contentLoadingReverse 4000ms infinite;
animation:contentLoadingReverse 4000ms infinite;}
.hom-force-hide{display:none!important;}
.hom-social-links{text-align:center;}
.hom-social-links ul{list-style:none;vertical-align:top;}
.hom-social{display:inline-block;width:60px;height:60px;color:#FFF;
font-size:0.7em;margin:6px;}
.hom-social *{color:inherit;vertical-align:middle;}
.hom-social a{display:table-cell;border:1px solid #6e39a6;border-radius:50%;
color:inherit;width:inherit;height:inherit;text-decoration:none;
-moz-transition:background ease-out 200ms;
-webkit-transition:background ease-out 200ms;
transition:background ease-out 200ms;}
.hom-social a:hover{background:#6e39a6;}
/*End Customize*/
/*Animation*/
@-moz-keyframes contentLoading{
    0%{background:#444;}
    50%{background:#555;}
    100%{background:#444;}
}
@-webkit-keyframes contentLoading{
    0%{background:#444;}
    50%{background:#555;}
    100%{background:#444;}
}
@keyframes contentLoading{
    0%{background:#444;}
    50%{background:#555;}
    100%{background:#444;}
}

@-moz-keyframes contentLoadingReverse{
    0%{background:#555;}
    50%{background:#444;}
    100%{background:#555;}
}
@-webkit-keyframes contentLoadingReverse{
    0%{background:#555;}
    50%{background:#444;}
    100%{background:#555;}
}
@keyframes contentLoadingReverse{
    0%{background:#555;}
    50%{background:#444;}
    100%{background:#555;}
}
/*End Animation*/
/*Tables*/
.hom-table{overflow-x:auto;}
table{display:block;border-collapse:collapse;font-size:.95em;}
table thead{font-weight:600;}
table tr{text-align:left;}
table tr:nth-child(odd){background:#242424;}
table th, table td{padding:10px 8px;}
.configs-object-table tr>td:first-child{color:#636363;font-size:.7em;}
.hom-table table sup{color: #686868;}
/*End Tables*/
.hom-main, .hom-header, .hom-top-nav, .hom-article{position:relative;
display:block;}
.hom-header, .hom-article, .hom-footer{width:980px;margin:0 auto;
position:relative;display:block;}
.hom-article{padding-top:24px;}
.hom-footer, .hom-article{margin-top:60px;}
.hom-vertical-align{position:relative;display:table;width:100%;height:100%;}
.hom-vertical-align-inner{display:table-cell;width:100%;height:100%;
vertical-align:middle;}
/*Header*/
.hom-header ul{list-style:none}
.hom-top-logo-section .hom-top-logo{position:relative;display:block;
margin:16px 0;text-align:center;z-index:9998;}
.hom-top-logo span, .hom-top-logo a{display:inline-block;}
.hom-top-nav{z-index:9999;}
.hom-top-nav .hom-top-nav-list{position:relative;width:980px;height:50px;
margin:0 auto;}
.hom-top-nav ul, .hom-top-nav ul li, .hom-top-nav ul li a{height:inherit;}
.hom-top-nav li{position:relative;display:block;float:left;
-webkit-transition:background ease .2s;-moz-transition:background ease .2s;
transition:background ease .2s;}
.hom-top-nav a{display:block;color:inherit;padding:12px;text-align:center;
text-decoration:none;text-transform:capitalize;
-webkit-transition:background ease .2s;-moz-transition:background ease .2s;
transition:background ease .2s;}
.hom-top-nav li:hover, .hom-top-nav a:hover{background:#222;}
.hom-top-nav .hom-top-nav-list ul ul{position:absolute;background:#222;
display:none;width:180px;height:auto;box-shadow:0 1px 2px rgba(0, 0 , 0, .3);}
.hom-top-nav .hom-top-nav-list ul ul li{float:none;}
.hom-top-nav .hom-top-nav-list ul ul li a{text-align:left;}
.hom-top-nav .hom-top-nav-list li:hover>ul{display:block;}
/*End Header*/
/*Article*/
.hom-article{padding:0 22px;}
.hom-article h1, .hom-article h2, .hom-article h3, .hom-article h4,
.hom-article h5, .hom-article h6{margin:14px 0;}
.hom-article .hom-section+.hom-section{padding-top:40px;}
.hom-article .hom-section [class^=hom-article-]+[class^=hom-article-]{
margin-top:20px;}
.hom-section .hom-article-content .hom-article-section+.hom-article-section{
margin-top:30px;}
.hom-pro-list{position:relative;display:block;}
.hom-pro-list .hom-pro{width:33.333%;height:240px;background:#222;
border-radius:4px;float:left;margin:12px;
-moz-transition:transform ease-out 200ms, box-shadow ease-out 200ms;
-webkit-transition:transform ease-out 200ms, box-shadow ease-out 200ms;
transition:transform ease-out 200ms, box-shadow ease-out 200ms;}
.hom-pro-list .hom-pro:hover{box-shadow:0 1px 6px 2px rgba(110, 57, 166, 0.8);
-moz-transform:scale(1.02, 1.02);-webkit-transform:scale(1.02, 1.02);
transform:scale(1.02, 1.02);}
.hom-pro-list .hom-pro>a{display:block;height:100%;color:#FFF;}
.hom-pro-list .hom-pro>a:hover{text-decoration:none;}
.hom-pro-list .hom-pro .hom-pro-name,
.hom-pro-list .hom-pro .hom-pro-thumbnail{height:120px;text-align:center;}
.hom-pro-list .hom-pro .hom-pro-name{background:#242424;}
.hom-pro-list .hom-pro .hom-pro-name h1,
.hom-pro-list .hom-pro .hom-pro-name h2,
.hom-pro-list .hom-pro .hom-pro-name h3,
.hom-pro-list .hom-pro .hom-pro-name h4{color:#FFF;}
.hom-pro-list .hom-pro .hom-pro-desc{color:#FFF;font-size:0.9em;padding:12px;}
.hom-pro-list .hom-pro p{margin:0;padding:0;}
.hom-pro-list .hom-pro .hom-pro-more{display:block;padding:6px;
text-align:center;}
.hom-pro-list .hom-pro .hom-pro-more>span{display:inline-block;
background:#6e39a6;border-radius:3px;color:#FFF;padding:6px;}
.hom-article-intro .hom-article-desc{font-size:1.2em;font-style:italic;
color:#9b9b9b;}
.hom-article-tags>[class^="hom-pro"]+[class^="hom-pro"]{margin-top:30px;}
.hom-article .hom-pro-langs{position:relative;display:block;}
.hom-article .hom-pro-langs .hom-pro-lang{display:inline-block;
background:#6e39a6;border-radius:2px;font-size:.8em;text-transform:uppercase;
padding:5px 8px;}
.hom-pro-download{text-align:center;}
.hom-pro-download .pro-download-button{display:inline-block;margin:7px;
vertical-align:top;}
.pro-download-button{text-align:center;}
.pro-download-button .hom-accordion{
-moz-transition:width, height ease-out 120ms;
-webkit-transition:width, height ease-out 120ms;
transition:width, height ease-out 120ms;}
.pro-download-button .hom-accordion-container{opacity:0;
-moz-transform:translateY(-20px) scale(1.02, 1.02);
-webkit-transform:translateY(-20px) scale(1.02, 1.02);
transform:translateY(-20px) scale(1.02, 1.02);
-moz-transition:transform ease-out 150ms, opacity ease-out 150ms;
-webkit-transition:transform ease-out 150ms, opacity ease-out 150ms;
transition:transform ease-out 150ms, opacity ease-out 150ms;}
.pro-download-button .hom-accordion-container.hom-show-download-accordion{
display:block!important;opacity:1;transform:translateY(0) scale(1, 1);}
.pro-download-button .hom-accordion a{text-transform:initial;}
.hom-pro-download .hom-content-loading-animation{width:100%;border-radius:4px;
display:block;margin:9px 0;padding:10px 2px;}
.hom-pro-download .hom-content-loading-animation:nth-child(even){width:50%;
-moz-animation:contentLoadingReverse 4000ms infinite;
-webkit-animation:contentLoadingReverse 4000ms infinite;
animation:contentLoadingReverse 4000ms infinite;}
.hom-article-content-block{border-radius:4px;padding:8px;}
.hom-section .hom-article-content{margin-top:30px!important;}
.hom-article .hom-article-content .hom-article-content-block+
.hom-article-content-block{border-top:1px solid #242424;margin-top:60px;}
.hom-pro-demo-container{display:block;position:relative;margin:40px 0 0;
border:1px solid #222;padding:14px;}
.hom-section .hom-404{padding:40px 0;}
.hom-section .hom-404 .hom-wrap{display:inline-block;}
.hom-section .hom-404 *{color:#383838;}
.hom-section .hom-404 h1{font-size:3em;}
.hom-section .hom-404 p{text-align:right;}
.hom-article.hom-about .hom-about-content{color:#aaa;font-size:1.2em;}
.hom-note-section{display:block;padding:30px 0;}
.hom-note-section p{color:#686868;font-size:0.95em;}
/*End Article*/
/*Footer*/
.hom-footer .hom-footer-copyright{display:block;color:#9b9b9b;font-size:.8em;
text-align:center;}
/*End Footer*/
/*Fix*/
.hom-clear{display:block;clear:both;}
/*End Fix*/
/*Code*/
.hom-source-code, code{position:relative;display:block;background:#242424;
border-left:4px solid #6e39a6;border-radius:0 3px 3px 0;font-family:monospace;
margin:15px 0 30px;padding:18px;overflow:auto;}
.hom-pro-demo-container .hom-source-code, .hom-pro-demo-container code{
margin:14px 0 0;}
.hom-source-code .source-code-keyword, code .source-code-keyword{color:#4e6b97;}
.hom-source-code .source-code-id, code .source-code-id,
.hom-source-code .source-code-property, code .source-code-property{color:cyan;}
.hom-source-code .source-code-int, code .source-code-int{color:#58acdd;}
.hom-source-code .source-code-string, code .source-code-string,
.hom-source-code .source-code-htmltag-attrstring,
code .source-code-htmltag-attrstring{color:#9b682d;}
.hom-source-code .source-code-bool, code .source-code-bool{color:#40ca4c;}
.hom-source-code .source-code-func, code .source-code-func{color:indianred;}
.hom-source-code .source-code-method, code .source-code-method{color:goldenrod;}
.hom-source-code .source-code-comment, code .source-code-comment{color:#63c563;}
.hom-source-code .source-code-htmltag, code .source-code-htmltag,
.hom-source-code .source-code-htmltag-attr, code .source-code-htmltag-attr,
.hom-source-code .source-code-objectkey, code .source-code-objectkey{
color:#686868;}
.hom-source-code .source-code-htmltagstring,
code .source-code-htmltagstring{color:#c54681;font-weight:600;}
.source-code-desc{color:#686868;font-size:.9em;}
/*End Code*/
/*RWD*/
@media screen and (max-width:980px){
    .hom-header, .hom-top-nav-list, .hom-article, .hom-footer{width:100%!important;}
}
@media screen and (max-width:768px){
    .hom-top-nav{text-align:center;}
    .hom-top-nav .hom-top-nav-list{display:inline-block!important;width:auto!important;
    height:auto;}
    .hom-pro-list .hom-pro{width:49.9999%;}
    .hom-section .hom-404, .hom-article-tags .hom-pro-langs{text-align:center}
    .hom-section .hom-404 h1{font-size:1.5em;}
    .hom-section .hom-404 p{text-align:inherit;}
    .hom-section .hom-404 .wrap{display:block;}
}
@media screen and (max-width:480px){
    .hom-pro-list .hom-pro{width:100%;float:none;margin:15px 0;}
}
/*End RWD*/